<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.four.mapper.OrdersMapper">
  <select id="findOrdersWithProduct" parameterType="Integer" resultMap="OrdersWithProductResult">
      select *from mybatis.tb_orders where id=#{id}
  </select>
    <resultMap id="OrdersWithProductResult" type="Orders">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <collection property="productList" column="id" ofType="Product"
     select="com.lyc.four.mapper.ProductMapper.findProductById" >

        </collection>
    </resultMap>
</mapper>
